@import url('themecolour.css');
@import url('responsive.css');

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

html {
    font-size: 60%;
}

section {
    /* min-height: 70vh; */
    padding: 3rem 8% 3rem;
}

span {
    color: var(--bg-color);
}

.licenses_certifications {
    display: block;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--content-bg-color);
}

.licenses_certifications-header {
    text-align: center;
}

.heading {
    margin-top: 1rem;
    font-size: 4.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color-light);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    color: var(--main-color);
}

.rise-logo {
    height: 12rem;
    width: 50rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.carousel-inner img {
    height: 400px;
    width: 1200px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: var(--snd-bg-color); 
}

#kaiaSecretRecipeWebsiteCarouselIndicators .image-container p {
    color: var(--bg-color);
    font-size: 4em;
    font-weight: 600;
}
  